<div class="body">
    <br><br><br><br><br>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login" style="padding-left: 60px;" [style.marginLeft]="loginTextMargin">Login Form</div>
            <div class="title signup" [style.marginLeft]="signupTextMargin">Signup Form</div> 
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login" (click)="onLoginClick()">Login</label>
                <label for="signup" class="slide signup" (click)="onSignupClick()">Signup</label>
                <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
                <form class="login" [formGroup]="loginForm" [style.marginLeft]="loginFormMargin" (ngSubmit)="login()">
                    <div class="field">
                        <input type="text" placeholder="Email Address" formControlName="email" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" formControlName="password" required>
                    </div>
                    <!--<div class="field">
                        <input type="text" placeholder="Role" formControlName="role" required>
                    </div>
                    <div class="form-group">
                        <label for="role">Role:</label>
                        <select id="role" formControlName="role" required>
                          <option value="Admin">Admin</option>
                          <option value="Receptionist">Receptionist</option>
                        </select>
                    </div>-->
                    <div class="field">
                        <select id="role" formControlName="role" required>
                            <option value="Admin">Admin</option>
                            <option value="Receptionist">Receptionist</option>
                        </select>
                    </div>
                    <div class="pass-link"><a href="#">Forgot password?</a></div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Login">
                    </div>
                    <div class="signup-link">Not a member? <a href="#" (click)="onSignupLinkClick()">Signup now</a></div>
                </form>
                <form class="signup" [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div class="field-group">
                        <div class="field">
                            <input type="text" placeholder="Nom" formControlName="nom" required>
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Prénom" formControlName="prenom" required>
                        </div>
                    </div>
                    <div class="field-group">
                        <div class="field">
                            <input type="text" placeholder="Téléphone" formControlName="telephone" required >
                        </div>
                        <div class="field">
                            <input type="text" placeholder="CNI" formControlName="cni" required>
                        </div>
                    </div>
                    <div class="field">
                        <input type="email" placeholder="Email Address" formControlName="email" required>
                    </div>
                    <div class="field">
                        <input type="address" placeholder="address" formControlName="address" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" formControlName="password" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Confirm password" formControlName="confirmPassword" required>
                    </div>
              
                    <!--<div class="field">
                        <input type="text" placeholder="Role" required>
                    </div>-->
                    <div class="form-group" class="field">
                        <label for="role-signup">Role:</label>
                        <select id="role-signup" formControlName="role" required>
                          <option value="Admin">Admin</option>
                          <option value="Receptionist">User</option>
                        </select>
                      </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Signup">
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
