<div class="wrapper">

    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="../../assets/images/logoHotel.png" alt="AdminLTELogo" height="60" width="60">
      </div>



    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/reservations" class="nav-link">Reservations</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                    <i class="fas fa-search"></i>
                </a>
                <div class="navbar-search-block">
                    <form class="form-inline">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" placeholder="Recherche" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-comments"></i>
                    <span class="badge badge-danger navbar-badge">3</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="#" class="dropdown-item">
                        <div class="media">
                            <img src="assets/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Pierre Dupont
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Demande de réservation</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 heures</p>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">Voir toutes les demandes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-envelope mr-2"></i> 4 nouvelles réservations
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> 8 nouvelles demandes de clients
                        <span class="float-right text-muted text-sm">12 heures</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fas fa-file mr-2"></i> 3 nouveaux rapports
                        <span class="float-right text-muted text-sm">2 jours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">Voir toutes les notifications</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-widget="control-sidebar" href="#" role="button">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>
        </ul>
    </nav>

  
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="brand-link">
            <img src="../../assets/images/logoHotel.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Royal Resort</span>
        </a>

        <div class="sidebar">
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="../../assets/images/logoSignin.jpg" class="img-circle elevation-2" alt="User">
                </div>
                <div class="info">
                    <a href="/admin" class="d-block">User Name</a>
                </div>
            </div>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/chambre" class="nav-link" (click)="reloadPage('/chambre')">
                            <i class="fas fa-bed nav-icon"></i>
                            <p> Rooms</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/client" class="nav-link" (click)="reloadPage('/client')">
                            <i class="fas fa-users nav-icon"></i>
                            <p> Clients</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/reception" class="nav-link" (click)="reloadPage('/reception')">
                            <i class="fas fa-user-tie nav-icon"></i>
                            <p> Receptionists</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/reservation" routerLinkActive="active" class="nav-link" (click)="reloadPage('/reservation')">
                            <i class="fas fa-calendar-check nav-icon"></i>
                            <p> Reservations</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>


    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Hotel Management</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>





      <section class="content">
        <div class="container-fluid">
        <div> <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addProduct">
                <i class="fas fa-plus"></i>  Create A Reservation
            </button>
        </div>
        <div class="container-xxl bg-white p-0">
            <!-- Spinner Start -->
 
            <!-- Spinner End -->
        
            <!-- Header Start -->
            <div class="container-fluid bg-dark px-0">
                <div class="row gx-0">
                    <div class="col-lg-3 bg-dark d-none d-lg-block">
                      
                    </div>
                    <div class="col-lg-9">
                        <div class="row gx-0 bg-white d-none d-lg-flex">
                            <div class="col-lg-7 px-5 text-start">
                                <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                    <i class="fa fa-envelope text-primary me-2"></i>
                                    <p class="mb-0"></p>
                                </div>
                                <div class="h-100 d-inline-flex align-items-center py-2">
                                    <i class="fa fa-phone-alt text-primary me-2"></i>
                                    <p class="mb-0">+012 345 6789</p>
                                </div>
                            </div>
                           
                        </div>
                        <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                            <a href="index.html" class="navbar-brand d-block d-lg-none">
                                
                            </a>
                            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav mr-auto py-0">
                                    <h1 class="m-0 text-primary text-uppercase">Welcome To Hotelier</h1>
                                </div>
                                
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Header End -->
        
        
            <!-- Page Header Start -->
            <div class="container-fluid page-header mb-5 p-0" style="background-image: url(../../../assets/img/carousel-1.jpg);">
                <div class="container-fluid page-header-inner py-5">
                    <div class="container text-center pb-5">
                        <h1 class="display-3 text-white mb-3 animated slideInDown">Booking</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center text-uppercase">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->
        
        
            <!-- Booking Start -->
           <!--  <div class="container-fluid booking pb-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="container">
                    <div class="bg-white shadow" style="padding: 35px;">
                        <div class="row g-2">
                            <div class="col-md-10">
                                <div class="row g-2">
                                    <div class="col-md-3">
                                        <div class="date" id="date1" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input"
                                                placeholder="Check in" data-target="#date1" data-toggle="datetimepicker" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="date" id="date2" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" placeholder="Check out" data-target="#date2" data-toggle="datetimepicker"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-select">
                                            <option selected>Adult</option>
                                            <option value="1">Adult 1</option>
                                            <option value="2">Adult 2</option>
                                            <option value="3">Adult 3</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-select">
                                            <option selected>Child</option>
                                            <option value="1">Child 1</option>
                                            <option value="2">Child 2</option>
                                            <option value="3">Child 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary w-100">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- Booking End -->
    
            <div *ngIf="chambre">
                <h3>{{ chambre.numero }} - {{ chambre.prix }} €/nuit</h3>
                <p>{{ chambre.description }}</p>
            
            <!-- Booking Start -->
            <div class="container-xxl py-5">
                <div class="container">
                  <div class="text-center">
                    <h6 class="section-title text-center text-primary text-uppercase">
                      Room Booking
                    </h6>
                    <h1 class="mb-5">
                      Book A <span class="text-primary text-uppercase">Luxury Room</span>
                    </h1>
                  </div>

                  <div class="row g-5">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.1s" src="../../../assets/img/about-1.jpg" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.3s" src="../../../assets/img/about-2.jpg">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-50 wow zoomIn" data-wow-delay="0.5s" src="../../../assets/img/about-3.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.7s" src="../../../assets/img/about-4.jpg">
                            </div>
                        </div>
                    </div>
                    <!-- Premier formulaire -->
                    <div class="col-lg-6" *ngIf="!showBookingForm">
                      <form [formGroup]="userForm" (ngSubmit)="onSubmitUserForm()">
                        <div class="row g-3">
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input
                                [(ngModel)]="client.prenom"
                                type="text"
                                class="form-control"
                                id="firstName"
                                placeholder="First Name"
                                formControlName="firstName"
                              />
                              <label for="firstName">First Name</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input
                                type="text"
                                class="form-control"
                                id="lastName"
                                placeholder="Last Name"
                                formControlName="lastName"
                                [(ngModel)]="client.nom"
                              />
                              <label for="lastName">Last Name</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input
                                type="text"
                                class="form-control"
                                id="cni"
                                placeholder="CNI"
                                formControlName="cni"
                                [(ngModel)]="client.cni"
                              />
                              <label for="cni">CNI</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input
                                type="email"
                                class="form-control"
                                id="email"
                                placeholder="Your Email"
                                formControlName="email"
                                [(ngModel)]="client.email"
                              />
                              <label for="email">Your Email</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input
                                type="number"
                                class="form-control"
                                id="telephone"
                                placeholder="Your telephone"
                                formControlName="telephone"
                                [(ngModel)]="client.telephone"
                              />
                              <label for="telephone">Your telephone</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input
                                type="text"
                                class="form-control"
                                id="adresse"
                                placeholder="Your adresse"
                                formControlName="adresse"
                                [(ngModel)]="client.adresse"
                              />
                              <label for="adresse">Your adresse</label>
                            </div>
                          </div>
                          <div class="col-12">
                            <button
                              class="btn btn-primary w-100 py-3"
                              type="submit"
                            >
                              Next
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
              
                    <!-- Deuxième formulaire -->
                  <!-- Deuxième formulaire -->
<!--div class="row justify-content-center" >
  <div class="col-lg-8">
    <h3 class="text-center mb-4">Reservation Details</h3>
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmitBookingForm()" >
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-floating">
            <input
              type="date"
              class="form-control"
              id="date_debut"
              placeholder="Check In"
              [(ngModel)]="reservation.date_debut"
              name="date_debut"
              required
            />
            <label for="date_debut">Check In</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input
              type="date"
              class="form-control"
              id="date_fin"
              placeholder="Check Out"
              [(ngModel)]="reservation.date_fin"
              name="date_fin"
              required
            />
            <label for="date_fin">Check Out</label>
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-success w-100 py-3" type="submit">
            Book Now
          </button>
        </div>
      </div>
    </form>
  </div>
</div-->

<div class="row justify-content-center">
  <div class="col-lg-8">
    <h3 class="text-center mb-4">Reservation Details</h3>
    <form [formGroup]="bookingForm" (ngSubmit)="onSubmitBookingForm()">
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-floating">
            <input
              type="date"
              class="form-control"
              id="date_debut"
              placeholder="Check In"
              formControlName="date_debut"
              required
            />
            <label for="date_debut">Check In</label>
            <div *ngIf="bookingForm.controls['date_debut'].invalid && bookingForm.controls['date_debut'].touched" class="text-danger">
              La date de début est requise.
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-floating">
            <input
              type="date"
              class="form-control"
              id="date_fin"
              placeholder="Check Out"
              formControlName="date_fin"
              required
            />
            <label for="date_fin">Check Out</label>
            <div *ngIf="bookingForm.controls['date_fin'].invalid && bookingForm.controls['date_fin'].touched" class="text-danger">
              La date de fin est requise.
            </div>
            <div *ngIf="bookingForm.controls['date_fin'].value <= bookingForm.controls['date_debut'].value && bookingForm.controls['date_fin'].touched" class="text-danger">
              La date de fin doit être après la date de début.
            </div>
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-success w-100 py-3" type="submit" [disabled]="bookingForm.invalid">
            Book Now
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


                  </div>
                </div>
              </div>
              
        </div>
            <!-- Booking End -->





            
        
            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>


<div class="card">
    <div class="card-header">
      <h3 class="card-title">Reservations</h3>
    </div>
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Room ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations">
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.user_id }}</td>
            <td>{{ reservation.chambre_id }}</td>
            <td>{{ reservation.date_debut | date:'shortDate' }}</td>
            <td>{{ reservation.date_fin | date:'shortDate' }}</td>
            <td>{{ reservation.montant_total | currency }}</td>
            <td>
              <div class="d-flex">
                <button class="btn btn-danger me-2" (click)="deleteReservation(reservation)">
                  <i class="fas fa-trash-alt"></i> Delete
                </button>
                <button class="btn btn-primary" >
                  <i class="fas fa-edit"></i> Edit
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
          
        </div>
      </section>

    </div>
    <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Create A Reservation</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
        <div class="modal-body">
            <form>

                <div class="mb-3">
                    <label for="userId" class="form-label">User ID</label>
                    <input type="number" class="form-control" id="userId" #userId required>
                </div>

                <div class="mb-3">
                    <label for="chambreId" class="form-label">Room ID</label>
                    <input type="number" class="form-control" id="chambreId" #chambreId required>
                </div>

                <div class="mb-3">
                    <label for="dateDebut" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="dateDebut" #dateDebut required>
                </div>

                <div class="mb-3">
                    <label for="dateFin" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="dateFin" #dateFin required>
                </div>

                <div class="mb-3">
                    <label for="montantTotal" class="form-label">Total Amount</label>
                    <input type="number" class="form-control" id="montantTotal" #montantTotal required>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"> Add Reservation</button>
                </div>
            </form>
        
                    
         </div>
        
              </div>
          </div>
        </div>
        <footer class="main-footer">
            <strong>2024</strong> All rights reserved.
        </footer>
</div>

